@{
	ViewData["Title"] = "شاخص های حوزه آموزش";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">فهرست شاخص ها</a></li>
                        <li class="breadcrumb-item active">شاخص</li>
                    </ol>
                </div>
                <h4 class="page-title">فهرست شاخص های حوزه آموزش</h4>
            </div>
        </div>
    </div>
   <!-- end page title -->
</div>
<div class="row">
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Education/Education_1/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد دانشجویان شاغل به تحصیل</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Education/Education_2/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد دانشجویان ورودی</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Education/Education_3/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">آمار دانشجویان بورسیه ( سپاه،ناجا،وزارت دفاع)</h4>
          </div>
       </div>
   </div>
</div>


<div class="row">
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Education/Education_4/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">آمار دانشجویان آزاد</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Education/Education_5/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">آمار فارغ‌التحصیلان به تفکیک مقطع تحصیلی و جنسیت</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Education/Education_6/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">نسبت دانشجویان به اساتید</h4>
          </div>
       </div>
   </div>
</div>


<div class="row">
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Education/Education_7/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">دانشجویان مشروط(معدل زیر 12)</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Education/Education_8/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">دانشجویان مهمان از دانشکده پیراپزشکی به سایر دانشکده ها...</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Education/Education_9/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">آمار دانشجویان مهمان از سایر دانشکده های دانشگاه ع پ ارتش به دانشکده پیراپزشکی</h4>
          </div>
       </div>
   </div>
</div>


<div class="row">
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Education/Education_10/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">ميانگين معدل سالانه دانشجويان</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Education/Education_11/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد دانشجویان المپیاد</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Education/Education_12/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد دانشجویان استعداد درخشان</h4>
          </div>
       </div>
   </div>
</div>