
            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <script>
                                document.write(new Date().getFullYear())
                            </script> &copy; تم UBold توسط <a href="https://www.zhaket.com/store/web/tjavan">مبتکران جوان</a>
                        </div>
                        <div class="col-md-6">
                           @* <div class="text-md-end footer-links d-none d-sm-block">
                                <a href="javascript:void(0);">درباره ما</a>
                                <a href="javascript:void(0);">کمک</a>
                                <a href="javascript:void(0);">با ما تماس بگیرید</a>
                            </div>*@
                        </div>

                    </div>
                </div>
            </footer>
            <!-- end Footer -->