
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">

            <div class="h-100" data-simplebar>


                <!--- Sidemenu -->
                <div id="sidebar-menu">

                    <ul id="side-menu">
                        
                        <li>
                            <a href="~/Home/Index1">
                                <i class="mdi mdi-home"></i>
                                <!--<span class="badge bg-success rounded-pill float-end">4</span>-->
                                <span> خانه </span>
                            </a>
                        </li>
                        <li class="menu-title">شاخص ها</li>

                        <li>
                            <a href="~/Education/Home/Index">
                                <i class="mdi mdi-view-dashboard-outline"></i>
                                <!--<span class="badge bg-success rounded-pill float-end">4</span>-->
                                <span> حوزه آموزش </span>
                            </a>
                        </li>
                        
                        @*<li class="menu-title mt-2">شاخص های پژوهش</li>*@

                        <li>
                            <a href="~/Research/Home/Index">
                                <i class="mdi mdi-calendar"></i>
                                <span>شاخص های پژوهش </span>
                            </a>
                        </li>

                        <li>
                            <a href="~/Resource/Home/Index">
                                <i class="mdi mdi-forum-outline"></i>
                                <span> مدیریت منابع </span>
                            </a>
                        </li>

                        <li>
                            <a href="~/IT/Home/Index">
                                <i class="mdi mdi-forum-outline"></i>
                                <span>توسعه و فناوری</span>
                            </a>
                        </li>

                        <li>
                            <a href="~/Student/Home/Index">
                                <i class="mdi mdi-forum-outline"></i>
                                <span>شاخص های دانشجویی</span>
                            </a>
                        </li>
                        
                        <li>
                            <a href="~/Report/Choose">
                                <i class="mdi mdi-forum-outline"></i>
                                <span>تنظیمات مربوط به شاخص ها</span>
                            </a>
                        </li>
                        
                        <li>
                            <a href="~/Reminder/Index">
                                <i class="mdi mdi-forum-outline"></i>
                                <span>ارائه یادآور</span>
                            </a>
                        </li>
                        @*<li>
                            <a href="#sidebarEcommerce" data-bs-toggle="collapse">
                                <i class="mdi mdi-cart-outline"></i>
                                <span>توسعه و فناوری</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="sidebarEcommerce">
                                <ul class="nav-second-level">
                                    <li>
                                        <a href="~/IT/Home/Index">شاخص های عملکردی حوزه توسعه و فناوری</a>
                                    </li>
                                    <li>
                                        <a href="~/IT/Home/Index">حوزه آموزش مداوم</a>
                                    </li>
                                </ul>
                            </div>
                        </li>*@
                        
                        
                        <li>
                            <a href="~/User/Index">
                                <i class="mdi mdi-forum-outline"></i>
                                <span>فهرست کاربران</span>
                            </a>
                        </li>
                       @* <li>
                            <a href="#sidebarCrm" data-bs-toggle="collapse">
                                <i class="mdi mdi-account-multiple-outline"></i>
                                <span> مدیریت کاربران </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="sidebarCrm">
                                <ul class="nav-second-level">
                                    <li>
                                        <a href="~/Admin/Home/Index">فهرست کاربران</a>
                                    </li>
                                    <li>
                                        <a href="~/Admin/Home/Index">افزودن کاربر جدید</a>
                                    </li>
                                </ul>
                            </div>
                        </li>*@
                    </ul>

                </div>
                <!-- End Sidebar -->

                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->