@{
	ViewData["Title"] = "شاخص های دانشجویی";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">فهرست شاخص ها</a></li>
                        <li class="breadcrumb-item active">شاخص</li>
                    </ol>
                </div>
                <h4 class="page-title">فهرست شاخص های دانشجویی</h4>
            </div>
        </div>
    </div>
   <!-- end page title -->
</div>
<div class="row">
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Student/Student_1/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">اساتید مشاور</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Student/Student_2/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">مراسم</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Student/Student_3/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد دانشجویان تحت پوشش برنامه ها و فعالیت های ورزش درون دانشکده</h4>
          </div>
       </div>
   </div>
</div>


<div class="row">
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Student/Student_4/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد دانشجویان تحت پوشش ورزش های قهرمانی</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Student/Student_5/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد انجمن های ورزش دانشجویی</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Student/Student_6/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد نشریات دانشجویی</h4>
          </div>
       </div>
   </div>
</div>

<div class="row">
   <div class="col-md-6 col-xl-4">      
      
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Student/Student_7/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد تشکلهای اسلامی</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Student/Student_8/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد انجمن های علمی - دانشجویی</h4>
          </div>
       </div>
   </div>
</div>