@{
	ViewData["Title"] = "شاخص های مدیریت منابع";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">فهرست شاخص ها</a></li>
                        <li class="breadcrumb-item active">شاخص</li>
                    </ol>
                </div>
                <h4 class="page-title">فهرست شاخص های مدیریت منابع</h4>
            </div>
        </div>
    </div>
   <!-- end page title -->
</div>
<div class="row">
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Resource/Resource_1/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد هیأت علمی</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Resource/Resource_2/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد هیأت علمی به تفکیک گروه آموزشی</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Resource/Resource_3/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">کارشناس آموزش</h4>
          </div>
       </div>
   </div>
</div>


<div class="row">
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Resource/Resource_4/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد کارکنان اداری</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Resource/Resource_5/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">نسبت كاركنان اداري به كل دانشجويان</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Resource/Resource_6/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">نسبت كاركنان اداري به اعضاي هيأت علمي</h4>
          </div>
       </div>
   </div>
</div>


<div class="row">
   <div class="col-md-6 col-xl-4">    
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Resource/Resource_7/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد هیأت علمی به مرتبه علمی و جنسیت</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">   
   </div>
</div>

