@{
	ViewData["Title"] = "خروج";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@section Styles{

}
<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>