<html>
    <head>
        <title>داشبورد مدیریتی دانشکده پیراپزشکی</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/ico/favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <!-- END: Theme CSS-->
@{
	ViewData["Title"] = "داشبورد مدیریتی دانشکده پیراپزشکی";
    Layout = "";
}

<style>
.main-wrapper {
  height: 100vh;  
}
h2 {
  color: black;
}
h3 {
  color: black;
}
</style>
@*@section Style {
    <style>
        .i-am-centered { margin: auto; max-width: 700px;}
    </style>
}*@
</head>
<body>
<div class="main-wrapper">
    <div class="col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body" style="background-color:#3a6cc6">
                    <div class="row justify-content-center">
                         <img src="~/Admin/images/logo.png" width="200px" height="200px" />
                    </div>
                <div class="card-body" style="background-color:#2e75b6;">
                    <div class="row justify-content-center">
                            <h3>دانشگاه علوم پزشکي ارتش </h3>
                    </div>
                    <br /><br />
                    <div class="row justify-content-center">
                            <h2>جمهوري اسلامي ايران</h2>
                    </div>
                    <br /><br />
                    <div class="row justify-content-center">
                            <h2>داشبورد مدیریتی دانشكده پیراپزشکی</h2>
                    </div>
                    <br /><br />
                    <div class="row justify-content-center">
                            <a style="width:100px" class="btn btn-primary btn-block glow users-list-clear mb-0 mt-75" href="/Home/Index1">
                                ورود
                            </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>