@{
	ViewData["Title"] = "شاخص های حوزه پژوهش";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">فهرست شاخص ها</a></li>
                        <li class="breadcrumb-item active">شاخص</li>
                    </ol>
                </div>
                <h4 class="page-title">فهرست شاخص های حوزه پژوهش</h4>
            </div>
        </div>
    </div>
   <!-- end page title -->
</div>
<div class="row">
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Research/Research_1/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد مقاله های نمایه شده در مجلات</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Research/Research_2/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد سمینارهای علمی داخلی و بین المللی برگزار شده در دانشکده</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Research/Research_3/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد مقالات مشترک با محققان دیگر کشورها(کلی و به تفکیک گروه آموزشی)</h4>
          </div>
       </div>
   </div>
</div>


<div class="row">
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Research/Research_4/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد طرح‌های انجام شده و در حال انجام  برحسب سال(کلی و به تفکیک گروه آموزشی)</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Research/Research_5/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد پایان نامه های مقاطع تحصیلی کارشناسی ارشد و دکتری در حال انجام(کلی و به تفکیک گروه آموزشی)</h4>
          </div>
       </div>
   </div>
   <div class="col-md-6 col-xl-4">      
      <div class="card" id="tooltip-container" onclick="location.href='/Research/Research_6/Index';">
          <div class="card-body">
              <h4 class="text-primary my-3 text-center">تعداد پایان نامه های مقاطع تحصیلی کارشناسی ارشد و دکتری انجام شده(کلی و به تفکیک گروه آموزشی)</h4>
          </div>
       </div>
   </div>
</div>